@keyframes rotate-gradient {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 200% 0%;
  }
}

.moving-border {
  position: relative;
  background: linear-gradient(
    90deg,
    transparent,
    #60a5fa,
    transparent,
    #60a5fa,
    transparent
  );
  background-size: 200% 100%;
  animation: rotate-gradient 3s linear infinite;
}
